* {
    box-sizing: border-box;
}

body {
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: rgba(63, 110, 68, 0.7);
    padding: 30px;
    border-radius: 30px;
    max-width: 500px;
    width: 100%;
    font-family: "Pixelify Sans", sans-serif;
}

.login-form-font {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

label, button {
    display: block;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.custom-font {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin-bottom: 15px;
}

button {
    display: block;
    margin: 15px auto 0;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #cd529c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #940065;
}
