html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("fondo.jpg") no-repeat center center fixed;
  background-size: cover; 
}
  
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 512px;  /* Tamaño de la cámara */
  height: 512px; 
}

  .night{
    filter:brightness(73%) hue-rotate(23deg);
  }

  canvas {
    display: flex;
    border: 4px solid white;  
    background-color: #000;

}

#logoutButton {
  position: absolute;
  bottom: 16%; 
  left: 33%;   
  background-color: #6b4006;
  color: white;
  padding: 10px;
  border-radius: 15px;
  border: 4px solid #f81aa6;
  font-family: "Pixelify Sans", sans-serif;
}

/* Botón estilo */
.styled-button {
  background-color: #f81aa6;
  border: 2px solid #6b4006;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Pixelify Sans", sans-serif;
}

.styled-button:hover {
  background-color: #ff5bb5;
}

.dialog-box {
  position: absolute;
  bottom: 30%;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  background-color: white;
  color: #6b4006;
  padding: 15px;
  border-radius: 15px;
  border: 4px solid #f81aa6;
  font-family: "Pixelify Sans", sans-serif;
}

