html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("fondo.jpg") no-repeat center center fixed;
  background-size: cover; 
}
  
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 512px;  /* Tamaño de la cámara */
  height: 512px; 
}

  .night{
    filter:brightness(73%) hue-rotate(23deg);
  }

  canvas {
    display: flex;
    border: 4px solid white;  
    background-color: #000;

}

#dialog-box {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  z-index: 100;
}