body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
